{% extends "layout.html" %}

{% block title %}
            Update Password
{% endblock %}

{% block main %}
            <form action="/change_password" method="POST">
                <div class="mb-3">
                    <input autofocus class="form-control mx-auto w-auto" name="password_cur" placeholder="Current password" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="password_new" placeholder="New password" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm new password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Change password</button>
            </form>
{% endblock %}
