<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device-width, initial-scale=1">

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=block" rel="stylesheet">

        <!-- Bootstrap libraries-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <link href="/static/styles.css" rel="stylesheet">

        <title>
            {% block title %}{% endblock %}
        </title>

        {% block script %}{% endblock %}
    </head>
    <body class="d-flex flex-column">
        <header>
           <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                            {% set home_url = '/' %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'active' if request.path == home_url }}" href="{{ home_url }}">Home</a>
                            </li>
                            {% set about_url = '/about' %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'active' if request.path == about_url }}" href="{{ about_url }}">About</a>
                            </li>
            {% if session["user_id"] %}
                            {% set change_password_url = '/change_password' %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'active' if request.path == change_password_url }}" href="{{ change_password_url }}">Change Password</a>
                            </li>
                            {% set logout_url = '/logout' %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'active' if request.path == logout_url }}" href="{{ logout_url }}">Log Out</a>
                            </li>
            {% else %}
                            {% set register_url = '/register' %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'active' if request.path == register_url }}" href="{{ register_url }}">Register</a>
                            </li>
                            {% set login_url = '/login' %}
                            <li class="nav-item">
                            <a class="nav-link {{ 'active' if request.path == login_url }}" href="{{ login_url }}">Log In</a>
                            </li>
            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container pt-5 text-center">
        {% block main %}{% endblock %}
        </main>

        <footer class="mt-auto text-center py-3">
            <span>&#xA9; 2025 Aleksey Svistunov</span>
        </footer>
    </body>
</html>
